
.form-group {
    margin-bottom: 10px;
}

@media (max-width: 1366px) {
    
    .cont-3 {
        height: 570px;
        
        
    }
}

@media (max-width: 1024px) {
    
    .cont-3 {
        height: 550px;
        
        
    }
}

@media (max-width: 700px) {
    
    .cont-3 {
        height: 650px;
        
        
    }
    
}

