div > .footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    border-top: 1px solid #eaeaea;
    background-color: darkorange;
} 

.app-logo {
    width: 5vmin;
    height: 5vmin;
}

@media (max-width: 640px) {
    .title-footer {
        display: none;
    }

    .footer > nav > ul > li.link-face {
        padding: 8px;
        flex: 50%;
    }
    .footer > nav > ul > li.link-linkedin {
        padding: 8px;
        flex: 50%;
    }
    .footer > nav > ul > li.link-git {
        padding: 8px;
        flex: 50%;
    }


}

@media (max-width: 570px) {
    .footer > nav > ul {
        flex-direction: row;
    }

    

}