body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    /* font-size: 1.2rem; */
    /* font-family: Arial; */

}

.bg-color {
    background: rgb(255, 174, 0);
    min-height: 100vh;
   
    
}

@media all and (max-width: 1366px) {
    
    .container {
        height: 300px;
        
        
    }
}

@media all and (max-width: 700px) {
    
    .container {
        height: 560px;
        
        
    }
    
}

/* .scroll {
    max-height: 200px;
    overflow-y: auto;
} */

/* .header {
    /* width: 100%;
    position: fixed;
    top: 0;
    left: 0; */
    /* padding-top: 2rem; */
    /* align-items: center; */
    /* background-color: darkorange; */

h2 {
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
}

#home-compl, #sobre-onde {
    margin-top: 20px;
}

p {
    padding-top: 10px;
}



